.container {
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar content";
}

.container > * {
    border: 1px solid black;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}