.container {
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-template-areas: 
        "box1 box2"
        "box1 box3";
}

.box1 {
    background-color: blueviolet;
    grid-area: box1;
}

.box2 {
    background-color: blue;
    grid-area: box2;
}

.box3 {
    background-color: seagreen;
    grid-area: box3;
}
